body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #54142e;
    font-family: Arial, sans-serif;
}

.gallery-container {
    background: #d5afbe;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
    border: 1px solid black; 
}

.image-box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
}

.buttons {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin: 0 8px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #54142e;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #61424f;
}
.image-box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
    transition: opacity 0.5s ease; 
}

